/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --main-text-color: #353430;
  --accent-color: #353430;
  --background-accent-color: #FF8DCB;
  --decorated-color: #353430;
  --button-hover: #32312D66;
  --title-color: #FFC2E6;
  --background-color: #FFF1F7;
  --shadow-title-color: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
}

@media (width >=1024px) {
  .header__title,
  .footer__title {
    --shadow-title-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --accent-color: #353430;
    --background-accent-color: #FF8DCB;
    --decorated-color: #353430;
    --button-hover: #32312D66;
    --title-color: #FFC2E6;
    --background-color: #FFF1F7;
    --shadow-title-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto .header .header__lamp {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >=1024px) {
  .header__title,
  .footer__title {
    --shadow-title-color: #ff0070;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.page.theme_light .header .header__lamp {
  display: none;
}