/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
p:not(:last-of-type) {
  padding-bottom: 10px;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  gap: 40px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color);
  line-height: var(--line-height, 23.4px);
}

.header__lamp {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  text-wrap: nowrap;
  color: var(--decorated-color);
  line-height: 25px;
  justify-self: end;
}

.header__lamp::after {
  content: '';
  display: inline-block;
  margin: 2px 9px 2px 10px;
  inline-size: 9px;
  block-size: 9px;
  background: var(--decorated-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decorated-color);
}

.decorated-zone::before {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-right: 1px solid var(--decorated-color);
  border-top: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-left: 1px solid var(--decorated-color);
  border-bottom: 1px solid var(--decorated-color);
}

.header {
  position: relative;
  padding: 10px;
  block-size: max(668px, 100vh);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--decorated-color);
  background-color: initial;
  border: none;
  cursor: pointer;
  min-inline-size: 70px;
  min-block-size: 26px;
}

button.header__theme-menu-button:hover {
  outline: var(--button-hover) solid 1px;
  border: none;
}

button.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--decorated-color);
  offset: 1px;
}

button:focus-visible {
  border-bottom: 1px solid var(--decorated-color);
  offset: 1px;
}

button.header__theme-menu-button_active:disabled {
  pointer-events: none;
  outline: var(--decorated-color) solid 1px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--shadow-title-color);
  font-size: var(--font-size-mobile);
  line-height: var(--line-height-mobile);
  color: var(--title-color);
  font-weight: var(--main-font-bold, 700);
}

.header__description {
  margin-top: 10px;
}

.link-decor {
  text-shadow: 1.5px 1.5px var(--background-accent-color);
  text-decoration: none;
}

.link-decor:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link-decor:focus {
  outline: currentColor solid 1px;
}

.link-decor:focus:hover {
  border: none;
}

.link-decor:focus-visible {
  outline: currentColor solid 1px;
}

.title-decor {
  color: var(--accent-color);
  background-color: var(--background-accent-color);
  font-size: var(--main-font-size);
  margin-bottom: 10px;
}

.subtitle-decor {
  color: var(--accent-color);
  background-color: var(--background-accent-color);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-size);
  margin-bottom: 10px;
}

.title-decor.titile-margin {
  margin: 0;
}

.content {
  display: grid;
  gap: 50px;
  padding: 0 10px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.content__title {
  display: block;
  color: var(--decorated-color);
  text-wrap: balance;
  font-size: var(--main-font-size);
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-card {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  block-size: max(668px, 100vh);
  align-content: center;
  text-align: center;
}

.footer__title {
  font-size: var(--font-size-mobile);
  line-height: var(--line-height-mobile);
  color: var(--title-color);
  font-weight: var(--main-font-bold, 700);
  text-shadow: 4px 4px 0 var(--shadow-title-color);
}

@media (width >=768px) {
  .page {
    gap: 60px;
  }

  .header {
    padding: 20px;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
  }

  .header__lamp {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__theme-menu {
    grid-column-start: 2;
  }

  .header__title {
    grid-column: 1 / span 2;
    font-size: var(--font-size-desktop);
    line-height: var(--line-height-desktop);
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column-start: 2;
  }

  .content {
    gap: 80px;
    padding: 0 20px;
  }

  .content-section {
    grid-template-columns: calc((100vw - 60px) / 3) 1fr;
    align-items: start;
  }

  .content-block {
    grid-column: 2;
  }

  .content-section:nth-child(2) .content-block {
    grid-column: 1 / span 2;
  }

  .content__title {
    grid-row: 1 / span 2;
    text-wrap: wrap;
  }

  .content-section:last-child {
    display: block;
  }

  .gallery {
    padding-block-start: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1 / -1;
  }

  .image-card:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .image-card:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column-start: 3;
  }

  .image-card:nth-child(3) {
    grid-row: 2 / span 3;
  }

  .image-card:nth-child(5) {
    grid-row: 3 / span 2;
    grid-column: 2 / span 2
  }

  .footer__title {
    font-size: var(--font-size-desktop);
    line-height: var(--line-height-desktop);
  }
}

@media (width >=1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(50vh - 85px) auto calc(50vh - 85px);
    column-gap: 20px;
    min-block-size: calc(100vh - 90px);
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    grid-column: 1 / span 3;
  }

  .header__description {
    grid-column: -1 / 2;
    align-self: center;
    justify-self: end;
    inline-size: calc(75% + 4px);
  }

  .title-decor.titile-margin {
    grid-column: span 2;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-block {
    grid-column: 2 / span 2;

  }

  .content-section:nth-child(2) {
    .content-block {
      grid-column: auto;
    }

    .content__title {
      grid-column: 1 / -1;
      max-width: calc((100% - 40px) / 3);
    }
  }
}